.ContainerBanner{
    display: flex;
    position: fixed;
    top: 0;
    left: -10rem;
    align-items: center;
    justify-content: center;
    width:30%;
    margin: auto;
    padding: 5px 10px 5px 10px;
    height: auto;
    margin-top: 2vh;
    
}
p{
    display: flex;
    margin-left: 1rem;
}