.ContainerNav{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 100vh;
    background-color: #283241;
    width: 17vw;
    position: fixed;
    top: 0;
    left: 0rem;
    margin: auto;
    padding: 5px 10px 5px 10px;

    
}
.chatsContacto{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.downBanner{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    background-color: #283241;
    width: 17vw;
    position: fixed;
    bottom: 0;
    left: 0rem;
    margin: auto;
    padding: 5px 10px 5px 10px;
}
.crearChat{
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: row;
    background-color: #283241;
    width: 17vw;
    position: fixed;
    bottom: 4rem;
    left: 0rem;
    margin: auto;
    padding: 5px 10px 5px 10px;
}